/***********************************************************
						Main Header
************************************************************/
/*   3     #    */

 {
	border: 2px solid red;
}




html, body {
	height: 100%;
}

.top-top {
	text-align: center;
}

.li-h5 {
	float: left;
	margin-left: 14%;
}

.li-h6 {
	float: right;
	margin-right: 14%;
}

.top-top a, .top-top a :visited {
	text-decoration: none;
	color: #000;
}

.top-top a.selected, .top-top a :hover {
	color: #999;
}

h5, h6 {
	margin: 26px 0 0;
	font-size: 35px;
}

header h1 {
	font-size: 57px;
	margin: 0;
}

header ul {
	list-style-type: none;
	margin: 0;	
}

header li {
	display: inline-block;
}

.li-h2 {
	float: left;
	margin: 0 0 0 14%;
}

.li-h4 {
	float: right;
	margin: 0 14% 0 0;
}

h2, h4 {
	font-size: 40px;
	margin: 0;
}


.t-border {
	display:block;
	margin: 0 14% 0 14%;
	border-top: 7px solid;
	border-radius: 40%;
}

.t-border ul {
	margin: 0;
}

 section {
	margin: 100px 0;
	font-size: 25px;
}



/***********************************************************
					Modified Header
************************************************************/
/*   3     #    */


.sec-sec {
	text-align: center;
}

.li-h7{
	margin: 5px 0 0 0;
}

h7 {
	font-size: 35px;
}

.sec-sec a {
	text-decoration: none;
	color: #000;
}

.sec-sec a :hover {
	color: #999;
}





/***********************************************************
						Main Footer
************************************************************/
/*   3     #    */

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -76px;
}

.footer, .push {
height: 10px;
}

footer p, footer span {
	text-align: center;
	font-size: 25px;
	margin: 0;
}

















/***********************************************************
						Notes
************************************************************/
/*   3     #    */

/*
RGBA (*, *, *, *)
	The Alpha can be used for hovering links, it fades. Ratio of 1

*/
/*
Line-height 1.5;

Font: weight size/height family;

*/

